@page "{BallotId:int}"
@model BallotPalette.Pages.Ballots.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>@Model.Ballot.Name</h1>

<form method="post">
    <input type="hidden" asp-for="Ballot.Id" />
    <div class="row mb-5">
        @foreach (var q in Model.Questions)
        {
            <div class="col-md-4 order-md-1">
                <div class="mb-3">
                    <h2 class="mt-4">@q.Text</h2>
                    @foreach (var o in Model.Options)
                    {
                        if (o.QuestionId == q.Id)
                        {
                            <label class="btn btn-secondary">
                                <input id="@o.Id" type="radio" name="@q.Text" value="@o.Id" asp-for="Selections[q.Text]" /> @o.Text
                            </label>
                        }
                    }
                </div>
            </div>
        }
    </div>

    <div class="row mb-5">
        <button type="submit" class="btn btn-lg btn-block btn-primary">Finalize choices and continue</button>
    </div>
</form>

<a asp-page="./List" class="btn btn-dark">Cancel</a>
