@page "{BallotId:int}"
@model BallotPalette.Pages.Ballots.ResultsModel
@{
    ViewData["Title"] = "Results";
}

<h1>Results</h1>

<div class="row mb-5">

    @foreach (var question in Model.Questions)
    {
        <div class="col-md-4 order-md-1">
            <div class="mb-3">
                <h3>@question.Text</h3>
                <canvas id="@question.Id" style="width:100%;max-width:700px"></canvas>
            </div>
        </div>
    }
</div>

<script src="~/lib/Chart.js//Chart.min.js"></script>
<script type="text/javascript">
    @foreach(var question in Model.Questions)
    {
        <text>
        var context_@question.Id = document.getElementById("@question.Id").getContext('2d');
        var data_@question.Id = {
            datasets: [{
                data: [ @Html.Raw(Model.GetData(question.Id)) ],
                backgroundColor: ['red', 'orange', 'yellow', 'green', 'blue', 'purple'],
            }],
            labels: [
                @Html.Raw(Model.GetLabels(question.Id))
            ]
        };

        const chart_@question.Id = new Chart(context_@question.Id,  {
            type: 'pie',
            data: data_@question.Id,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: '@question.Text'
                    }
                }
            },
        });
        </text>
    }
</script>

